.video {
  padding-bottom: 122px;
  @media (max-width: 992px) {
    padding-bottom: 78px;
  }
}

.big-card {
  width: 100%;
  max-width: 1028px;
  padding: 60px;
  padding-bottom: 74px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2c2f30;
  @media (max-width: 992px) {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 35px;
    padding-left: 20px;
  }
}
.big-card__desc {
  max-width: 374px;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  color: #f7f7f7;
  letter-spacing: 0.1em;
  @media (max-width: 768px) {
    max-width: 100%;
  }
  @media (max-width: 576px) {
    font-size: 15px;
  }
}

.big-card__gtc {
  column-gap: 53px;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    row-gap: 16px;
  }
}

.big-card__media {
  position: relative;
  max-width: 436px;
  height: 249px;
  cursor: pointer;
  @media (max-width: 768px) {
    max-width: 100%;
    height: 340px;
  }
  @media (max-width: 576px) {
    height: 250px;
  }
  @media (max-width: 440px) {
    height: 150px;
  }
}
.big-card__media::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  display: block;
  width: 95px;
  height: 95px;
  margin: auto;
  content: "";
  background-image: url("../img/ball/video/play.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: all 0.3s ease;
}
.js_lazy-init.big-card__media::before {
  opacity: 0;
}
.big-card__pic {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
}

.big-card__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.1;
}

.big-card__video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.pelote-loyalty__icon {
  display: block;
  width: 45px;
  height: 45px;
  margin-bottom: 8px;
}
.pelote-loyalty__bullets {
  row-gap: 31px;
  column-gap: 13px;
  max-width: 540px;
  @media (max-width: 992px) {
    max-width: 100%;
    margin-bottom: 31px;
  }
  @media (max-width: 576px) {
    grid-template-columns: 1fr;
    row-gap: 15px;
  }
}
.pelote-loyalty__bullet-text {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #f7f7f7;
  letter-spacing: 0.1em;
  @media (max-width: 576px) {
    font-weight: 300;
  }
}
.pelote__card-junction {
  --bg-top: #2c2f30;
  --bg-bottom: #fafafa;
}
.pelote__card-junction .big-card {
  position: relative;
  z-index: 2;
  background: #343839;
}
.pelote__big-card-title {
  margin-bottom: 69px;
  font-size: 35px;
  line-height: 126%;
  @media (max-width: 991px) {
    display: none;
    margin-bottom: 23px;
  }
}
.pelote__big-card-title-mobile {
  display: block;
  @media (min-width: 992px) {
    display: none;
  }
}
.pelote-loyalty {
  position: relative;
}
.pelote-loyalty::before,
.pelote-loyalty::after {
  position: absolute;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 50%;
  content: "";
}
.pelote-loyalty::before {
  top: 0;
  background-color: var(--bg-top);
}
.pelote-loyalty::after {
  bottom: 0;
  background-color: var(--bg-bottom);
}
.pelote-loyalty .big-card__info {
  position: relative;
  width: 100%;
  max-width: 340px;
  margin-right: 60px;
}
.pelote-loyalty .big-card__info::after {
  display: block;
  width: 100%;
  max-width: 216px;
  height: 122px;
  margin-right: auto;
  margin-left: auto;
  content: "";
  background-image: url("../img/icons/curve-arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  @media (max-width: 992px) {
    display: none;
  }
}

.pelote-loyalty .big-card__gtc {
  display: flex;
  column-gap: 0;
  justify-content: space-between;
  @media (max-width: 992px) {
    flex-direction: column-reverse;
  }
}

.pelote-loyalty .big-card {
  padding-right: 28px;
  @media (max-width: 576px) {
    padding-bottom: 59px;
  }
}

.pelote-loyalty__button {
  margin-bottom: 19px;
  @media (max-width: 992px) {
    width: 100%;
    max-width: 100%;
  }
  @media (max-width: 576px) {
    margin-bottom: 0;
    font-size: 14px;
  }
}

.card-juction__container {
  @media (max-width: 992px) {
    padding-right: 0;
    padding-left: 0;
  }
}
