.card {
  padding-right: var(--padding-horizontal);
  padding-bottom: 19px;
  padding-left: var(--padding-horizontal);
  background-color: #2e3032;
  --padding-horizontal: 50px;
  @media (max-width: 768px) {
    --padding-horizontal: 14px;
  }
}
.card__pic {
  display: block;
  width: calc(100% + 2 * var(--padding-horizontal));
  height: 250px;
  margin-bottom: 40px;
  margin-left: calc(0px - var(--padding-horizontal));
  @media (max-width: 992px) {
    height: 131px;
    margin-bottom: 13px;
  }
}
.card__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__title {
  margin-bottom: 7px;
  font-family: var(--ff-title);
  font-size: 25px;
  line-height: 126%;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  @media (max-width: 992px) {
    margin-bottom: 4px;
    font-size: 13px;
    line-height: 126.5%;
  }
}
.card__desc {
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 300;
  line-height: 150%;
  color: #ffffff;
  letter-spacing: 0.1em;
  @media (max-width: 992px) {
    margin-bottom: 10px;
    font-size: 10px;
    line-height: 1.5;
  }
}
.card__meta {
  padding: 19px 5px 30px 28px;
  background: #212326;
  @media (max-width: 992px) {
    padding-top: 10px;
    padding-right: 14px;
    padding-bottom: 16px;
    padding-left: 14px;
  }
}

.card__meta-bullet {
  --bullet-color: var(--c-text-on);
  position: relative;
  padding-left: 42px;
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: 300;
  line-height: 150%;
  color: var(--bullet-color);
  letter-spacing: 0.1em;
  @media (max-width: 992px) {
    padding-left: 22px;
    font-size: 10px;
  }
}
.card__meta-bullet:last-of-type {
  margin-bottom: 0;
}
.card__meta-bullet::before {
  position: absolute;
  top: 4px;
  left: 0;
  display: block;
  width: 21px;
  height: 21px;
  content: "";
  background-color: var(--bullet-color);
  @include getmask("../img/events/hint.svg");
  @media (max-width: 992px) {
    top: 2px;
    width: 12px;
    height: 12px;
  }
}

.card__meta-bullet--time {
  --bullet-color: #b24d2b;
  font-weight: 600;
}
.card__meta-bullet--time::before {
  @include getmask("../img/events/time.svg");
  @media (max-width: 992px) {
    top: 3px;
  }
}

.card--no-pic {
  padding-top: 36px;
  @media (max-width: 992px) {
    padding-top: 21px;
  }
}

.card__link {
  display: block;
  margin-bottom: 18px;
  font-size: 12px;
  font-weight: 300;
  line-height: 150%;
  color: #f7f7f7;
  text-decoration: underline;
  letter-spacing: 0.1em;
  @media (max-width: 992px) {
    margin-bottom: 9px;
  }
}
.card .card__link {
  text-decoration: underline;
}
