.swiper.carousel-bg {
  position: absolute;
  width: 120%;
  margin-left: -10%;
}
.carousel-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.carousel-bg__pic {
  display: block;
  width: 100%;
  height: 100%;
}
.carousel-bg__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-bg__buttons {
  position: absolute;
  bottom: 0;
  left: 69.5vw;
  z-index: 2;
}
