.nav__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @media (max-width: $laptop) {
    padding-bottom: 13px;
    border-bottom: 1px solid #2c353d;
  }
}

.nav__item {
  --color: #f7f7f7;
  display: block;
  font-size: 15px;
  font-weight: 300;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.03em;
  border: 1px solid #2b333a;
  @media (max-width: $laptop) {
    border: none;
  }
}
.nav__item::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 33px;
  height: 0;
  max-height: 3px;
  margin-right: auto;
  margin-left: auto;
  content: "";
  background-color: var(--c-accent);
  transition: all 0.3s ease;
  @media (max-width: $laptop) {
    display: none;
  }
}
.nav__item--active {
  --color: var(--c-accent);
  position: relative;
  @media (min-width: calc($laptop + 1px)) {
    font-weight: 600;
  }
}
.nav__item--active::after {
  height: 100%;
}
.nav__item:hover {
  @media (min-width: $minHover) {
    --color: var(--c-accent);
  }
}

.nav__link {
  display: block;
  padding-top: 17px;
  padding-right: 17px;
  padding-bottom: 24px;
  padding-left: 17px;
  font-size: inherit;
  line-height: inherit;
  color: var(--color);
  letter-spacing: inherit;
  transition: all 0.3s ease;
  @media (max-width: $laptop) {
    padding-top: 16px;
    padding-right: 21px;
    padding-bottom: 16px;
    padding-left: 21px;
    text-align: left;
  }
}
