.about {
  padding-bottom: 103px;
}
.about__running-string {
  margin-bottom: 100px;
}
.aobut__pic {
  display: block;
  width: 100%;
  height: auto;
}
.about__img {
  object-fit: cover;
}

.about__gallery {
  margin-bottom: 106px;
}

.pelote {
  padding-bottom: 71px;
}
.pelote__table-bullets {
  margin-bottom: 50px;
}
.pelote__button {
  width: 100%;
  max-width: 388px;
}
