.events {
  padding-top: 100px;
  background-color: #212326;
}
.events__title {
  margin-bottom: 67px;
}
.events__carousel {
  width: 100%;
  max-width: 1032px;
  margin-right: auto;
  margin-left: auto;
}
