.hero {
  position: relative;
  display: flex;
  justify-content: flex-start;
  height: 100%;
  min-height: 831px;
}
.hero__container {
  position: relative;
  z-index: 2;
  width: 100%;
  margin-top: auto;
  // padding-top: 370px;
  pointer-events: none;
}

.hero__offer {
  display: inline-block;
  padding-top: 70px;
  padding-right: 60px;
  padding-bottom: 73px;
  padding-left: 60px;
  margin-top: auto;
  pointer-events: initial;
  background: rgba(41, 49, 51, 0.8);
  backdrop-filter: blur(14px);
}

.hero__title {
  max-width: 570px;
  margin-bottom: 32px;
}

.hero__button {
  width: 100%;
  max-width: 270px;
}
.hero__button-table {
  margin-right: 30px;
}
