.reviews {
  padding-top: 108px;
  padding-bottom: 101px;
  background: #2a2c31;
}
.reviews__title {
  margin-bottom: 60px;
}
.reviews__gallery {
  margin-bottom: 21px;
}
.reviews__button {
  width: 100%;
  max-width: 270px;
}
