.section-title {
  font-family: var(--ff-title);
  font-size: 42px;
  line-height: 126%;
  color: #f7f7f7;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.text-centered {
  text-align: center;
}
