/* stylelint-disable no-invalid-position-at-import-rule */
@use "sass:math";

// Библиотеки
@import "./libs/swiper";
// @import "./libs/lightgallery";
@import "./libs/custom-select";

@import "./variables";
@import "./mixins";

// Шрифты
@include font("Ubuntu", normal, 300, "../resources/fonts/ubuntu/Ubuntu-Light");
@include font(
  "Ubuntu",
  normal,
  400,
  "../resources/fonts/ubuntu/Ubuntu-Regular"
);
@include font("Ubuntu", normal, 600, "../resources/fonts/ubuntu/Ubuntu-Bold");
@include font(
  "Poiret One",
  normal,
  400,
  "../resources/fonts/poiretone/PoiretOne-Regular"
);

// Сброс CSS
@import "./reset";

body {
  font-family: $ff-main;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--c-text-on);
  background-color: var(--bg-app-light);

  ._lock & {
    overflow: hidden;
    touch-action: none;
  }
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;

  & > .content {
    position: relative;
    z-index: 1;
    flex: 1 0 auto;
  }
}

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
*/
.container,
[class*="__container"] {
  @if ($max-width-container > 0) {
    box-sizing: content-box;
    max-width: $max-width-container;
    margin: 0 auto;
  }
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
  // @if ($container-padding > 0) {
  //   padding: 0 var(--container-padding);
  // }

  @media (max-width: $tablet) {
    // --container-padding: 30px;
  }

  @media (max-width: $mobile-l) {
    // --container-padding: 20px;
  }

  @media (max-width: $mobile-m) {
    // --container-padding: 16px;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex--centered {
  justify-content: center;
}
.flex--column {
  flex-direction: column;
}
.flex--column > * {
  width: 100%;
  max-width: 100%;
}

.columns-2 {
  columns: 2;
  column-gap: 26px;
}
.columns-3 {
  columns: 3;
  column-gap: 30px;
}

.gtc-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.gtc-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.gtc-1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 14px;
}

.gallery {
  row-gap: 54px;
  column-gap: 54px;
  max-width: 100%;
  padding-right: 30px;
  padding-left: 30px;
}

.section--has-circle-top {
  position: relative;
}
.section__circle-top {
  position: absolute;
  top: -50px;
  right: 0;
  left: 0;
  display: block;
  width: 100px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  background: #212425;
  border-radius: 50%;
}

.section__circle-top::before,
.section__circle-top::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: "";
  border: 1px solid #b24d2b;
  border-radius: 50%;
}
.section__circle-top::before {
  width: 86%;
  height: 86%;
}
.section__circle-top::after {
  width: 78%;
  height: 78%;
}

// Базовые стили, шаблоны, заготовки
@import "./base";

// Общие стили проекта
@import "./common";

// Компоненты
@import "./components";

// Карточки
// @import "./components/cards/";

// Модальные окна
// @import "./components/modals/";

// Секции
@import "./sections/header";
@import "./sections/main";
@import "./sections/footer";

// Стили для отдельных страниц
// @import "./pages/";
